body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.nav {
    display: flex;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    padding: 1em;
    background-color: #efefefab;   
    align-items: center;
    font-size: 1.2em;
}
nav > a {
    color: black;
    text-decoration: none;
    transition : color 1s;
    margin: 0em 1em;
}
nav > a:hover {
    color: #005c03;
    transition : color 1s;
}

a.home{
    font-size: 1.5em;
    font-weight: bold; 
}
main {
    margin: 2em;
}
#main a{
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 1.3em;
}
#main a:hover {
    border-bottom: 1px grey solid;
    transition: 1s;
}

img {
    width: 120px;
    transform: rotate(160deg);
}

#inner {
    margin: 2em;
    display: flex;
    justify-content: space-evenly;
}

/* Footer Styles */
.footer {
    background-color: rgb(26 24 24);
    height: 150px;
    width: 100%;
    padding: 25px;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }
  .whitetext {
    color:white;
    margin: 0px;
    padding:0px;
    font-size: 0.8em;
  }
  .whitelogo {
    color:white;
    font-size:2em;
  }
  .whitelogo:hover {
    color:lightgray;
  }
  .row {
    text-align: center;
  }


